<h2 class="lang-en">Directions</h2>
<h2 class="lang-zh">交通指南</h2>

<p>
    <span class="lang-en">Cozy Coffee: Ground floor, E building, XJTLU TC Campus</span>
    <span class="lang-zh">Cozy Coffee: 西浦太仓校区 E栋 一楼</span>
    (<a href="https://j.map.baidu.com/04/2tUk">
        <span class="lang-en">Baidu Map</span>
        <span class="lang-zh">百度地图</span>
    </a>)
</p>

<img class="center" src="assets/cozy-map.png" alt="Screenshot of Cozy Coffee location" id="map">

<p>
    <span class="lang-en">Image guide to Cozy Coffee below:</span>
    <span class="lang-zh">前往 Cozy Coffee 的图片指南如下：</span>
</p>
<img class="center" src="assets/kitten4.jpg" alt="This is just a kitten right now" id="kitten">